.title{
    display: flex;

    height: 7rem;
    background-color: #5CB8E4;
    flex-direction: row;

}
.title h1{
    margin: 2rem;
    margin-left: 35rem;
}
.footer{
    display: flex;
    justify-content: center;
    height: 7rem;
    background-color: #5CB8E4;
}
.footer h1{
    margin: 2rem;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44.2rem;
    background-color: #8758FF;
}
.cont1 input{
    height: 3rem;
    width: 20rem;
    margin: 1rem;
border-radius: 10px;
size: 10rem;
}
.cont2 button{
    margin: 0.5rem;
    border-radius: 40px;
    height: 5rem;
    width: 10rem;
    background-color: #181818;
    color: white;

}
.vol{
    margin: 0.5rem;
    border-radius: 40px;
    height: 5rem;
    width: 10rem;
    background-color: #181818;
    color: white;
}
